/*
	Persian Link CMS
	Powered By www.PersianLinkCMS.ir
	Author : Mohammad Majidi & MahdiY.ir
	VER 2.1
	copyright 2011 - 2015
		
*/
@import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
body {
	direction: rtl;
	font: 12px tahoma, arial;
	background: #F0F0F0;
	margin: 0 auto;
	
}

p {
	line-height: 25px;
	color: #8f8f8f;
}
.textright{text-align:right}
.textleft{text-align:left}
.textcenter{text-align:center}



img {
	border: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Droid Arabic Naskh;
	font-weight: normal;
}
::-webkit-input-placeholder {
color:#acacac;
}
::-moz-placeholder {
color:#acacac;
} /* firefox 19+ */
:-ms-input-placeholder {
color:#acacac;
} /* ie */
input:-moz-placeholder {
color:#acacac;
}

input,select{font-family:tahoma;font-size:18px;padding:6px;border:1px solid #e4e4e4;border-radius:3px;}
input[type=text],input[type=password],input[type=email]{border:1px solid #e4e4e4;}
input[type=submit],input[type=button]{
	padding:7px 10px;
	background:#28a417;
	border:0;
	color:#fff;
	font-family:tahoma;
	font-size:12px;
	border-bottom:4px solid #1b810e;
	transition: all 0.5s ease;
	margin-top:12px;
	
	}
	input[type=submit]:hover{
	background:#3dc32a;
	border-bottom:4px solid #28a417;
	}
	input[type=submit]:focus{
	background:#494949;
	border-bottom:4px solid #000;
	}


h1 {
	font-size: 36px;
	font-weight:normal;
}
h2 {
	font-size: 22px;
	font-weight:normal;
}
h3 {
	font-size: 17px;
	font-weight:normal;
}
h4 {
	font-size: 16px;
	font-weight:normal;
}
h5 {
	font-size: 14px;
	font-weight:normal;
}
h6 {
	font-size: 11px;
	font-weight:normal;
}
a {
	text-decoration: none;
	color: #696969;
}




[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


.clear {
	clear: both;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.fivepx{padding:5px;}

.middle {
	width: 650px;
	margin: 0 auto;
}
.error{
	background:#C30;
	padding:8px;
	border-radius:4px;
	margin:10px 0 10px 0;
	color:#fff;
}

.notify{
	background:#FC6;
	padding:8px;
	border-radius:4px;
	margin:10px 0 10px 0;
	color:#fff;
}

.success{
	background:#0C3;
	padding:8px;
	border-radius:4px;
	margin:10px 0 10px 0;
	color:#fff;
}

#head{
	bacground:#f5f5f5;
	border:1px solid #E4E4E4;
	margin:30px 0 0 0;
	padding:10px 8px 8px 10px;
	border-radius:4px 4px 0 0;
}

#head h1{
	font-size:14px;
}

#main{
	background:#fff;
	border:1px solid #E4E4E4;
	border-top:0;
	padding:10px;
}

#main form p{line-height:38px;}

#footer{
	margin-bottom:42px;
}

#footer p{padding:8px 3px 0 3px;}

#footer #logo{
	background:url(../images/pslogo.png) no-repeat;
	width:32px;
	height:24px;
	margin:8px 3px 0 5px;
}
